######################
# Eclipse
######################
.project
.metadata
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.factorypath
.apt_generated/
.resourceCache/

# External tool builders
.externalToolBuilders/**

# CDT-specific
.cproject

# PDT-specific
.buildpath

######################
# Maven
######################
/log/
*/target/*

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# Directories
######################
/bin/
/deploy/

######################
# Logs
######################
*.log*

######################
# Others
######################
*.class
*.*~
*~
.merge_file*

######################
# Maven Wrapper
######################
!.mvn/wrapper/maven-wrapper.jar

