<configuration scan="true">

	<property name="patternPlainText"
		value="%date{yyyy-MM-dd HH:mm:ss.SSSXXX} | %-5level| %c{36} | %msg%n" />

	<!-- Appender to console for local use only -->
	<appender name="console"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${patternPlainText}</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="console" />
	</root>

	<shutdownHook
		class="ch.qos.logback.core.hook.DelayingShutdownHook" />

	<contextListener
		class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>
</configuration>